{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}
   <h1 align="center">Work Experience</h1>
   <hr>
   <div class="container" align="center">
      <h2>Software Engineering Intern - Dynetics Inc.</h2>
      <h4>Huntsville, AL</h4>
      <img src="{% static "images/dynetics.jpeg" %}" alt="Dynetics Logo">
      <ul>
         <li>Used C# and WPF to support development on a GUI Decision Aid application</li>
         <li>Utilized the MVVM architecture pattern to develop a UI feature that spanned multiple layers of code</li>
         <li>Feature handled screen capture, data logging, and data playback</li>
         <li>Worked with dependency injection, multi-threading, and singleton patterns in the application.</li>
      </ul>
      <hr>
      <h2>Data Analyst Intern - NextGxDx Inc.</h2>
      <h4>Franklin, TN</h4>
      <img src="{% static "images/nextgxdx.jpg" %}" alt="NextGxDx Inc.">
      <ul>
         <li>Developed code in C++ for rocket control system on Arduino platform</li>
         <li>Soldering experience with sensors and electronics bay</li>
         <li>Interfaced controller with servo actuators and 10-DOF IMU</li>
         <li>Implemented telemetry print-outs to SD card for post-launch analysis</li>
         <li>Supported and mainted team website</li>
      </ul>
      <br>
   </div>
{% endblock %}
