
body {
   background-color: #2f2f2f;
   position: relative;
   height: auto;
   min-height: 100% !important;
   color: #9d9d9d;
}

.wrap {
   margin: 0 auto;
   position: absolute;
   width: 100%;
}

.first {
   align-items: center;
   background-color: #2f2f2f;
   color: #9d9d9d;
   min-height: 100%;
   height: 400px;
   font-family: Play;
}

.secondary {
   background-color: white;
   color: #2f2f2f;
}

.primary {
   background-color: #2f2f2f;
   color: #9d9d9d;
}

#skills-table h1 {
   align: center;
   align-content: center;
   text-align: center;
   font-family: Play;
}

#projects-table h1 {
   align: center;
   align-content: center;
   text-align: center;
   font-family: Play;
}

.separator {
   display: block;
   width: 100%;
   overflow: auto;
   font-family: Play;
}

.proj-container {
   height: 50px;
   width: 50px;
}

.proj-col {
      text-align: center;
      font-family: arial;
}

.proj-box {
   box-shadow: 5px 10px rgb(99, 96, 101);
   height: 250px;
   border-style: solid black;
   width: 100%;
}
img {
   border: 1px solid black;
}

#socialsBar li {
   display: inline-block;
   color: #2f2f2f;
   font-size: 2.5em;
   padding: 0 1em 0 0;
}

#copyright {
   text-align: center;
}

.wrapper {
   text-align: center;
}

#contactButton {
   align: center;
   align-items: center;
   align-content: center;
   align-self: center;
   text-align: center;
   width: 100%;
   color: white;
   font-family: Play;
   background-color: #9d9d9d;
}

#welcomemessage {
      padding-top: 50px;
}

.hoverOnSkill {
   color: white;
   font-size: 60px;
}

hr {
   border-color: #9d9d9d;
   color: #9d9d9d;
}
