#navbar {
   width: 80px;
   height: 100%;
   position: absolute;
   top: 0;
   min-height: 500px;
}

body {
   background-color: #2f2f2f;
   color: #9d9d9d;
}

img {
   display: block;
   max-width: 1000px;
   height: 100px;
}

ul {
   width: 65%;
   margin: auto;
}

h1, h2, h4, li {
   font-family: Play;
   color: #9d9d9d;
}

.wrapper {
   text-align: center;
}

#contactbutton {
   display: none;
   font-family: Play;
}

#bodycontainer {
   text-align: center;
   width: 800px;
   font-family: Play;
   font-size: 20px;
}

.hoverOnSkill {
   color: teal;
   font-size: 60px;
}

.jumbotron {
   background-color: lightblue;
}

hr {
   border-color: #9d9d9d;
   color: #9d9d9d;
}
