{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}
   <h1 align="center">Projects/Extracurriculars</h1>
   <hr>
   <div id="bodycontainer" class="container">
      <h1>Cupola Engineering Ambassadors</h1>
      <ul>
         <li>Responsible for giving to tours to prospective engineering students.</li>
         <li>Volunteered for events providing support for current engineering students.</li>
         <li>Led elementary school outreach activities teaching computer science.</li>
      </ul>
      <hr>
      <h1>Auburn Student Launch</h1>
      <h4>Embedded Systems Lead</h4>
      <ul>
         <li>Developed code in C++ for rocket control system on Arduino platform</li>
         <li>Soldering experience with sensors and electronics bay</li>
	      <li>Interfaced controller with servo actuators and 10-DOF IMU</li>
	      <li>Implemented telemetry print-outs to SD card for post-launch analysis</li>
	      <li>Managed team website</li>
      </ul>
   </div>
{% endblock %}
