{% extends "base.html" %}
{% block body_block %}
   <div class="container">
      <div class="jumbotron">
         <h1>The Legend of Tanner Oakes</h1>
         <p>Hailing from North Alabama, Tanner Oakes is a Software Engineering student at Auburn University. Not much is know about the early days of his life, but legend has it, after being born of a strong Oak tree, he spent his infancy amongst the saplings of his stock. Reared in the forest, he learned to self-sustain in the great outdoors at an early age. It is rumored that he took down his first bear at the age of 5 with nothing but his bare hands. Approaching adolescence, the young Oak ventured from the wild and into civilization to assimilate.</p>
         <p>Granted an opportunity to study amongst his adopted family, he quickly excelled in the core curriculum, as well as developing a talent for the fine arts. Many a day was spent chiseling away Greek demigods from granite. Enjoying sports and competition, he also enjoyed dominating his rivals in his free time. Upon discovering his knack for problem solving, coupled with his love of computers and technology, he decided to devote his future to programming. All of this led to his current occupation as a software engineering student at a university. During the day, Tanner can be found either honing his craft or enjoying the natural splendor of the land from which he came. By night, he spends time at local jazz clubs releasing stress amidst the slush of laid-back grooves. Although he is known by many different names, most know him simply as the Most Interesting Programmer in the World.</p>
      </div>
   </div>
{% endblock %}
