{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}
   <h1 align="center">Work Experience</h1>
   <hr>
   <div class="container" align="center">
      <h2>Software Engineering Intern - Dynetics Inc.</h2>
      <h4>Huntsville, AL</h4>
      <img src="{% static "images/dynetics1.png" %}" alt="Dynetics Logo">
      <ul>
         <li>Used C# and WPF to support development on a GUI Decision Aid application.</li>
         <li>Utilized the MVVM architecture pattern to develop a UI feature that spanned multiple layers of code.</li>
         <li>Feature handled screen capture, data logging, and data playback.</li>
         <li>Worked with dependency injection, multi-threading, and singleton patterns in the application.</li>
      </ul>
      <hr>
      <h2>Data Analyst Intern - NextGxDx Inc.</h2>
      <h4>Franklin, TN</h4>
      <img src="{% static "images/nextgxdx1.png" %}" alt="NextGxDx Inc.">
      <ul>
         <li>Developed Python code to automatically download data from the web and check for changes on a
         recurring schedule in order to gain a retrospective look at multiple laboratories' product marketing and offerings.</li>
         <li>Used private repository to aid in development and data analysis.</li>
         <li>Used web scraping tools and gained data analysis insights.</li>
      </ul>
      <br>
   </div>
{% endblock %}
